# export BAT_THEME=Coldark-Dark               # Dark background shells
export BAT_THEME=GitHub                     # Light background shells

# export PORTAINER_REGISTRY=docker.io
export PORTAINER_REGISTRY=artifacts.lab.sstide.com/kamino/import